{% extends 'base.html.twig' %}
{% block title 'Immos' %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">

            <h1>Agence Immos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lorem mi, euismod at leo vitae,
                porttitor posuere eros. Curabitur odio risus, luctus vestibulum eros eu, egestas commodo erat.
                In varius nec turpis pretium facilisis. Sed vulputate sit amet lacus a feugiat.
                Nullam mollis, ligula non tempor pharetra, lacus nisi porta tortor, egestas pulvinar ligula eros sed neque.
                Nullam pharetra eros vel eros luctus, id viverra lectus tempor. Vestibulum scelerisque, mi luctus venenatis
                malesuada, leo orci pellentesque ante, vitae consequat orci sapien et erat. Aenean sit amet pretium quam,
                et venenatis quam. </p>
        </div>
    </div>



{% endblock %}