{% extends 'base.html.twig' %}
{% block title 'Tous les biens' %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container mt-4">

            <h1>Ici tous les biens</h1>

        </div>
    </div>



{% endblock %}